@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: wobbly;
  src: url(/wobbly/wobbly.ttf);
}

*{
  --glow-rgb: 239 42 201;
  
}

body{
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wf{
  font-family: wobbly;
}

.cr{
  font-family: 'Cedarville Cursive', cursive;
}

.sk{
  font-family: 'Silkscreen', sans-serif;
}

body{
  background-color: #faf1e8;
  overflow-x: hidden;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 350px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 13s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}




#button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 3vh;
  outline: none;
  padding: 0px;
  width: 5vw;
}

#button.toggled #icon {
  background-color: transparent;
}

#button.toggled #icon:before {
  top: 0px;
  transform: rotate(-45deg);
}

#button.toggled #icon:after {
  bottom: 0px;
  transform: rotate(45deg);
}

#button #icon {
  background-color: blue;
  border-radius: 100px;
  position: relative;
  transition: all 0.25s;
  height: 0.5vh;
  width: 2vw;
}

#button #icon:before,
#button #icon:after {
  background-color: blue;
  border-radius: 100px;
  content: "";
  height: 0.5vh;
  width: 2vw;
  left: 0px;
  position: absolute;
  transition: all 0.25s;
}

#button #icon:before {
  top: -2vh;
}

#button #icon:after {
  bottom: 1vh;
}


.title {
  font-size: 4rem;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 7rem;
  }
}

.controls {
  font-size: 1rem;
}

.controls-content {
  margin: 0;
}


#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  user-select: none;
}

 .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}







/* #event img {
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 599px) {
  img {
    height: 250px;
    object-fit: cover;
  }
}

#event main {
  padding: 2rem;
  max-width: 1400px;
  margin: auto;
}

#event h1 {
  font-family: 'Poppins', sans-serif;
}

#event h2 {
  color: #ed666f;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

#event h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0.5rem 0;
}

.grid-wrapper {
  @media screen and (min-width: 600px) {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
  }

  @media screen and (min-width: 1025px) {
    grid-template-columns: 1fr 2fr 1fr 2fr;
  }

  @media screen and (min-width: 600px) and (max-width: 1024px) {
    grid-template-columns: 1fr 2fr;
  }
}

article p {
  font-family: 'Karla', sans-serif;
  font-size: 0.95rem;
  color: #c8c8c8;
}

article {
  padding-bottom: 1rem;
  border-bottom: 1px solid #4d4d4d;
}

article:nth-child(4) {
  grid-area: 1/2/4/3;
}

@media screen and (min-width: 1025px) {
  article:nth-child(8) {
    grid-area: 1/4/4/-1;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  article:nth-child(8) {
    grid-area: 4/2/8/3;
  }
}

article:nth-child(4n+3) {
  @media screen and (min-width: 1025px) {
    border-bottom: 0;
  }
}

article:nth-child(4) {
  @media screen and (min-width: 1025px) {
    border-right: 1px solid #4d4d4d;
    padding-right: 1rem;
  }
}

article:nth-child(4n) {
  @media screen and (min-width: 600px) {
    border-left: 1px solid #4d4d4d;
    border-bottom: 0;
    padding-left: 1rem;
  }
}

.footer-note {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 0.9rem;
  background: white;
  padding: 1rem;
  color: black;
  border-radius: 5px;
}

.footer-note a {
  color: inherit;
  font-weight: 600;
} */

